{% extends "base.j2" %}
{% block content %}


<div class="login-form">
    <h2>verify <br> password</h2>
    <form action="#" method="post">
        <p><input type="password" class="form-control" name="password_d" placeholder="enter password"></p>
        <p><input type="submit" class="btn btn-danger btn-lg btn-block" value="delete-user"></p>
    </form>
</div>

{% endblock %}