{% extends "base.html" %}
{% block content %}

{% if not film.resp %}
    <p class="not-found">There is no further details on the film</p>
{% endif %}
<div id="film-page">
    {% if film.poster == 'N/A' or film.poster == None %}
        <img id="poster" src="{{ url_for('static', filename='images/no-image.jpg') }}" alt="{{ film.film_name }}">
    {% else %}
        <img id="poster" src="{{ film.poster }}" alt="{{ film.film_name }}">
    {% endif %}
    <div id="primary-details">
        <div class="film-detail" id="title"><span>Title:</span>{{ film.title }}</div>
        <div class="film-detail" id="rated"><span>Rated:</span>  {{ film.rated }}</div>
        <div class="film-detail" id="released"><span>Released Date:</span>  {{ film.released }}</div>
        <div class="film-detail" id="runtime"><span>Runtime:</span>  {{ film.runtime }}</div>
        <div class="film-detail" id="imdb-rating"><span>imdb Rating:</span>  {{ film.imdb_rating }}</div>
        <div class="film-detail" id="imdb-votes"><span>imdb Votes:</span>  {{ film.imdb_votes }}</div>
    </div>

    <div id="details">
        <div class="film-detail" id="plot"><span>Plot:</span><br>{{ film.plot }}</div>
        <div class="film-detail" id="actors"><span>Actors:</span><br>{{ film.actors }}</div>
        <div class="film-detail" id="language"><span>Language:</span><br>  {{ film.language }}</div>
        <div class="film-detail" id="awards"><span>Awards:</span><br>  {{ film.awards }}</div>
    </div>
</div>

{% endblock %}