
#nav-box {
    margin: 3rem;
}

form.page-link {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 90px;
    text-align: center;
}

form.page-link #nav_text {
    width: 60px;
}

#active-form {
    width: 70px;
}

#active-form #nav_text {
    width: 70px;
    text-align: center;
}



form.page-link button {
    margin-right: 0px;
    margin-left: 0px;
}

form.not-active-button {
    width: 50px;
}

form.not-active-form #nav_text{
    text-align: center;
}

@media screen and (max-width: 700px) {
    #nav-box {
        margin-left: 1rem;
    }

    form.page-link {
        width: 50px;
    }
    
    form.page-link #nav_text {
        width: 30px;
    }
    
    #active-form {
        width: 50px;
    }
    
    #active-form #nav_text {
        width: 50px;
    }
    
    
    form.not-active-button {
        width: 40px;
    }
    
}

@media screen and (max-width: 500px) {
    #nav-box {
        margin-left: 0rem;
        font-size: 12px;
    }

}